<template>
  <div class="home">
    <simple-flowchart :height="500" :scene="layout"></simple-flowchart>
  </div>
</template>

<script lang="ts">
  import {Component, Vue} from "vue-property-decorator";
  import {ILayout} from "@/interfaces/INode";
  import NodeComponent from "@/components/node-component.vue";
  import SimpleFlowchart from "vue-simple-flowchart";
  import "vue-simple-flowchart/dist/vue-flowchart.css";


  @Component({
    components: {
      NodeComponent,
      SimpleFlowchart,
    }
  })
  export default class Home extends Vue {
    layout: ILayout = {
      centerX: 1024,
      centerY: 140,
      scale: 1,
      nodes: [
        {
          id: 1,
          x: -200,
          y: -69,
          type: "Node 1",
          label: "",
          name: "Node 1",
        },
        {
          id: 2,
          x: -700,
          y: -69,
          type: "Node 2",
          name: "Node 1",
          label: "",
        },
        {
          id: 4,
          x: -357,
          y: 80,
          type: "Node 3",
          name: "Node 1",
          label: "",
        },
        {
          id: 6,
          x: -557,
          y: 80,
          type: "Node 4",
          name: "Node 1",
          label: "",
        }
      ],
      links: [
        {
          from: 2,
          to: 4,
        },
        {
          from: 2,
          to: 6,
        },
        {
          from: 1,
          to: 2,
        },
        {
          from: 1,
          to: 2,
        }
      ]
    };
  }
</script>
