<template>
  <div class="not-found">
    <div class="container">
      <p>404</p>
      <p>Страница не найдена</p>
    </div>
  </div>
</template>

<style>
  .not-found {
    padding: 20px;
  }
</style>
