<template>
  <div class="node">
    <div class="node__name">{{node.name}}</div>
    <ul class="node__children" v-if="node.children && node.children.length">
      <li :key="index" class="node__child" v-for="(child, index) in node.children">
        <node-component :node="child"/>
      </li>
    </ul>
  </div>
</template>

<script lang="ts">
  import {Component, Prop, Vue} from "vue-property-decorator";
  import {INode} from "@/interfaces/INode";

  @Component
  export default class NodeComponent extends Vue {
    @Prop() node: INode
  }
</script>

<style scoped>
  .node:not(:last-child) {
    margin-right: 20px;
  }

  .node__name {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }

  .node__children {
    padding-left: 15px;
    margin: 0;
    list-style: none;
  }
</style>
